@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy');

@font-face {
  font-family: '80s Font';
  src: url("./Fonts/SuperFunky-lgmWw.ttf") format("truetype");
}

html {
  background-image: url("./assets/background.png");
  background-size: cover;
  height: 100%;
}

#root,
html,
body {
  animation: fade-in 1s ease-out 1;
  animation-fill-mode: both;
  margin: 0;
  padding: 0;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 5;
}

#title {
  border-radius: 20px;
  background-color: rgb(191, 0, 255);
  width: fit-content;
  color: #00FFFF;
  padding: 5px;
  box-sizing: border-box;
  font-family: "80s Font", cursive, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 10px;
}

#game-description {
  font-family: "80s Font", cursive, sans-serif;
  font-size: 0.5rem;
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}

#score,
.invisible-score {
  color: #00FFFF;
  font-family: "80s Font", cursive, sans-serif;
  display: sticky;
  top: 20px;
  text-align: center;
}


#score-container {
  position: sticky;
  display: flex;
  border-radius: 20px;
  background-color: rgb(191, 0, 255);
  height: min-content;
  top: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}

.fake {
  opacity: 0;
  margin-left: 1rem;
}

#restart-button {
  border-radius: 20px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  color: red;
  fill: aqua;
  width: 80px;
}

main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  font-size: 1rem;
  text-align: center;
}

label {
  font-size: 1rem;
}

#slider-label {
  font-family: "80s Font", cursive, sans-serif;
  font-size: 0.75rem;
  color: rgb(191, 0, 255);
}

input {
  border-radius: 10px;
  font-size: 0.75rem;
  padding: 7px;
  background-color: pink;
  border: 0px solid white;
}



button {
  background-color: rgb(191, 0, 255);
  margin-left: 5px;
  border-radius: 10px;
  color: aqua;
  font-weight: 900;
  font-size: 0.75rem;
  font-family: "80s Font", cursive, sans-serif;
}

button:hover {
  background-color: rgb(150, 0, 200);
  cursor: pointer;
}

#help-text {
  font-size: 0.75rem;
  font-family: "Luckiest Guy", cursive, sans-serif;
  line-height: 1.5;
  color: rgb(191, 0, 255);
  animation: bounce 1s ease-in-out infinite;
}

#card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.card-item {
  max-width: 100%;
}

.card-item>img {
  width: 100%;
}

#game-win-text {
  font-size: 2rem;
  margin-top: 5rem;
  font-family: "80s Font", cursive, sans-serif;
  color: rgb(191, 0, 255);
  animation: bounce 1s ease-in-out infinite;
  width: 100%;
}

@media screen and (max-width: 768px) {

  #root,
  html,
  body {
    font-size: 25px;
  }

  svg {
    width: 50px;
  }

  #card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {

  #root,
  html,
  body {
    font-size: 30px;
  }

  svg {
    width: 50px;
  }
  #card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {

  #root,
  html,
  body {
    font-size: 40px;
  }
  #card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {

  #root,
  html,
  body {
    font-size: 50px;
  }

  svg {
    width: 80px;
  }
  #card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(10px);
  }
}